{% extends 'base.html' %}

{% block title %}Ajouter une Critique{% endblock %}

{% block content %}
<div class="main-container">
    <header>
        <h1>Répondre à une Demande de Critique</h1>
    </header>

    <form method="POST" class="add_review-form">
        {% csrf_token %}

        <!-- Champ caché pour transmettre l'ID du ticket -->
        <input type="hidden" name="ticket_id" value="{{ ticket_id }}">

        <!-- Champs de critique -->
        <div class="form-group">
            <label for="headline">Titre de la Critique :</label>
            <input type="text" name="headline" id="headline" class="form-control" required>
        </div>
        
        <!-- Note sous forme d'étoiles -->
        <div class="form-group">
            <label for="id_review_rating">Note (sur 5)</label>
            <div class="star-rating">
                {% for i in "54321" %}
                    <input type="radio" id="star{{ i }}" name="rating" value="{{ i }}" required {% if request.POST.rating == i %}checked{% endif %}>
                    <label for="star{{ i }}">★</label>
                {% endfor %}
            </div>
        </div>

        <div class="form-group">
            <label for="body">Votre Critique :</label>
            <textarea name="body" id="body" class="form-control"></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Soumettre la Critique</button>
    </form>

    <p><a href="{% url 'feed' %}">Annuler</a></p>
</div>
{% endblock %}
