{% extends 'base.html' %}

{% block title %}Modifier la Critique{% endblock %}

{% block content %}
<div class="main-container">
    <header>
        <h1>Modifier la Critique</h1>
    </header>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        {% if ticket and ticket.user == request.user %}
            <div class="form-group">
                <label for="ticket-title">Titre du Ticket :</label>
                <input type="text" name="title" id="ticket-title" class="form-control" value="{{ ticket.title }}" required>
            </div>
            <div class="form-group">
                <label for="ticket-description">Description du Ticket :</label>
                <textarea name="description" id="ticket-description" class="form-control" required>{{ ticket.description }}</textarea>
            </div>
            <div class="form-group">
                <label for="ticket-image">Image du Ticket :</label>
                <input type="file" name="image" id="ticket-image" class="form-control">
                {% if ticket.image %}
                    <img src="{{ ticket.image.url }}" alt="Image du ticket" class="img-thumbnail mt-2">
                {% endif %}
            </div>
        {% endif %}

        <div class="form-group">
            <label for="headline">Titre de la Critique :</label>
            <input type="text" name="headline" id="headline" class="form-control" value="{{ review.headline }}" required>
        </div>
        
        <div class="form-group">
            <label for="id_review_rating">Note (sur 5)</label>
            <div class="star-rating">
                {% for i in "54321" %}
                    <input type="radio" id="star{{ i }}" name="rating" value="{{ i }}" required {% if review.rating == i %}checked{% endif %}>
                    <label for="star{{ i }}">★</label>
                {% endfor %}
            </div>
        </div>

        <div class="form-group">
            <label for="body">Votre Critique :</label>
            <textarea name="body" id="body" class="form-control" required>{{ review.body }}</textarea>
        </div>

        <button type="submit" class="btn btn-primary">Sauvegarder les Modifications</button>
    </form>

    <p><a href="{% url 'ticket_detail' review.ticket.id %}">Annuler</a></p>
</div>
{% endblock %}
