{% extends 'base.html' %}

{% block title %}Mes Posts{% endblock %}

{% block content %}
<div class="posts-container">
    <header>
        <h1>Mes Posts</h1>
    </header>

    <!-- Section pour afficher les Tickets -->
    <h2>Mes Tickets</h2>
    {% if tickets %}
        <ul>
            {% for ticket in tickets %}
                <li>
                    <a href="{% url 'ticket_detail' ticket.id %}">
                        <h3>{{ ticket.title }}</h3>
                    </a>
                    <p>{{ ticket.description }}</p>
                    <p>Posté le : {{ ticket.time_created }}</p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Aucun ticket publié.</p>
    {% endif %}
    
    <!-- Section pour afficher les Critiques créées par l'utilisateur -->
    <h2>Mes Critiques</h2>
    {% if reviews %}
        <ul>
            {% for review in reviews %}
                <li>
                    <a href="{% url 'ticket_detail' review.ticket.id %}">
                        <h3>{{ review.headline }} ({{ review.rating }} / 5)</h3>
                    </a>
                    <p>{{ review.body }}</p>
                    <p>Posté le : {{ review.time_created }}</p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Aucune critique publiée.</p>
    {% endif %}
    
    <!-- Section pour afficher les Réponses aux Tickets de l'utilisateur -->
    <h2>Mes Réponses</h2>
    {% if responses %}
        <ul>
            {% for response in responses %}
                <li>
                    <a href="{% url 'ticket_detail' response.ticket.id %}">
                        <h3>{{ response.headline }} ({{ response.rating }} / 5)</h3>
                    </a>
                    <p>{{ response.body }}</p>
                    <p>Posté le : {{ response.time_created }}</p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Aucune réponse publiée.</p>
    {% endif %}
</div>
{% endblock %}
